<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Tu Pachanga - Encuentra compañeros para practicar tu deporte favorito en tu ciudad o en cualquier lugar de España. Crea o únete a eventos deportivos.">
  <meta name="keywords"
        content="deporte, eventos deportivos, compañeros de deporte, fútbol, baloncesto, tenis, pádel, calistenia">
  <meta name="author" content="Daniel González">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="../../../../uploads/logos/favicon-256x256.png" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{/css/generalStyle.css}"/>
  <link rel="stylesheet" th:href="@{/css/interactiveMap.css}"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Hojas de estilos CSS para Leaftlef -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <!-- Cargamos la biblioteca de mapas interactivos desde un CDN (Red de Distribución de Contenidos) -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <title>Tu Pachanga Web</title>
</head>
<body>

<!-- Cabecera del index con menú y titulo -->
<header>

  <p><a th:href="@{/}"><img src="../../../../uploads/logos/logo.png" alt="Logo de la web"></a></p>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" th:href="@{/auth/login}">Iniciar sesión</a>
          <a class="nav-link" th:href="@{/auth/register}">Registrarse</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>

  <!-- Título y descripción de la web -->
  <h1>Bienvenido a Tu Pachanga</h1>
  <p>¿Quieres hacer deporte pero no te gusta hacerlo solo? ¿Quieres practicar el deporte que más te
    gusta pero no sabes donde?
    Te presentamos Tu Pachanga, una web donde podrás encontrar compañeros para practicar tu deporte
    favorito.
    Aquí podrás encontrar compañeros para practicar el deporte que más te gusta, ya sea en tu ciudad
    o en cualquier lugar de España.
    Podrás crear eventos para buscar compañeros o buscar eventos creados por otros usuarios.
    Además, podrás ver los eventos que se celebran en tu ciudad y apuntarte a ellos.
    Con Tu Pachanga podrás hacer deporte de una forma divertida y social.
    No te quedes sin practicar tu deporte favorito, ¡únete a nosotros y encuentra a tus compañeros
    de deporte!
  </p>

  <!-- Eventos disponibles -->
  <section id="sports-events">
    <h2>Eventos actuales</h2>
    <p>No te quedes ahí parado, ¡únete a alguno de ellos, te están esperando!</p>
    <div>
      <div th:each="match : ${matches}" class="event-card">
        <div class="event-header">
          <div class="sport-icon">
            <img th:src="@{'/uploads/avatars/sports/' + ${match.sport.icon}}"
                 th:alt="${match.sport.alt}"/>
          </div>
          <div class="event-meta">
            <img th:src="@{'/uploads/avatars/users/' + ${match.owner.avatar}}"
                 alt="Avatar de usuario"/>
            <p>Creado por: <a th:href="@{/user/{uuid}(uuid = ${match.owner.uuid})}"><span
                th:text="${match.owner.firstName} + ' ' + ${match.owner.lastName}"></span></a></p>
          </div>
          <div class="event-date">
            <p th:text="${#temporals.format(match.eventDate, 'dd/MM/yyyy HH:mm')}"></p>
          </div>
        </div>
        <hr>
        <div class="event-body">
          <p><strong>Nombre del evento:</strong> <span th:text="${match.title}"></span></p>
          <p><strong>Descripción:</strong> <span th:text="${match.description}"></span></p>
          <p><strong>Ubicación:</strong> <span
              th:text="${match.facility.street} + ', ' + ${match.facility.municipality.name}"></span>
          </p>
          <p><strong>Nivel:</strong> <span th:text="${match.skillLevel.name()}"></span></p>
          <p><strong>Plazas disponibles:</strong> <span
              th:text="${match.availableParticipants}"></span> | <strong>Precio por
            persona:</strong> <span th:text="${match.pricePerPerson} + '€'"></span></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Mapa de google interactivocde Leaflet con eventos -->
  <section id="interactive-map">
    <h2>Mira los eventos que van a ocurrir en España</h2>
    <div id="map"></div>
  </section>


  <!-- Deportes disponibles -->
  <section id="available-sports">
    <div class="container">
      <h2>Sección de deportes disponibles</h2>
      <p>¿No sabes qué deporte practicar? Aquí tienes una lista de deportes que puedes practicar con
        nosotros.</p>

      <div class="sports-wrapper">
        <div th:each="sport : ${sports}" class="sport-card">
          <div class="sport-icon">
            <img th:src="@{'/uploads/avatars/sports/' + ${sport.icon}}" th:alt="${sport.alt}"/>
          </div>
          <div class="sport-name">
            <span th:text="${sport.name}"></span>
          </div>
        </div>
      </div>

      <p>Si no encuentras el deporte que quieres practicar, no dudes en ponerte en contacto con
        nosotros y lo añadiremos a la lista.</p>
    </div>
  </section>


</main>

<!-- Contacto y redes sociales | Pie de página-->
<footer>

  <div id="copy">
    <p>&copy; 2023 Tu Pachanga. Todos los derechos reservados.</p>
    <p>Desarrollado por Daniel González - Desarrollador Web</p>
    <ul>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Términos y condiciones</a></li>
    </ul>
  </div>

  <div id="social-media">
    <p>Redes sociales:</p>
    <ul>
      <li><a href="#"><i class="fa-brands fa-square-facebook fa-lg"></i>&nbsp;Facebook</a></li>
      <li><a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i>&nbsp;Twitter</a></li>
      <li><a href="#"><i class="fa-brands fa-instagram fa-lg"></i>&nbsp;Instagram</a></li>
    </ul>
  </div>

  <div id="contact">
    <p>Contacto:</p>
    <ul>
      <li><a href="#"><i class="fa-solid fa-phone fa-lg"></i>&nbsp;+34 608 708 123</a></li>
      <li><a href="#"><i class="fa-regular fa-envelope fa-lg"></i>&nbsp;dani.desarrolloweb@gmail.com</a></li>
    </ul>
  </div>

</footer>

<script th:inline="javascript">

  /*<![CDATA[*/
  const matches = /*[[${matchesWithCoordinates}]]*/ [];

  const map = L.map('map').setView([40.4168, -3.7038], 6); // Centramos el mapa en el centro de España

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map);

  matches.forEach(match => {
    const iconName = match.icon ? match.icon : 'default.png';
    const iconPath = `/uploads/avatars/sports/${iconName}`;

    const customIcon = L.icon({
      iconUrl: iconPath,
      iconSize: [40, 40],
      iconAnchor: [20, 40],
      popupAnchor: [0, -40],
      className: '' // Elimina texto bajo el icono
    });

    const marker = L.marker([match.latitude, match.longitude], {
      icon: customIcon,
      title: '' // Sin texto al pasar el cursor
    });

    marker.bindPopup(`
      <strong>${match.title}</strong><br/>
      ${new Date(match.eventDate).toLocaleString()}<br/>
      <em>${match.municipalityName}</em>
    `);

    marker.addTo(map);

    // Abrir popup al pasar el ratón por encima
    marker.on('mouseover', function () {
      this.openPopup();
    });

    // Cerrar popup al quitar el ratón
    marker.on('mouseout', function () {
      this.closePopup();
    });

  });
  /*]]>*/
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>