<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Inicia sesión en Tu Pachanga para acceder a tus eventos deportivos y conectar con otros usuarios.">
  <meta name="keywords" content="login, iniciar sesión, Tu Pachanga, deportes, eventos deportivos">
  <meta name="author" content="Daniel González">
  <meta name="robots" content="noindex, nofollow">
  <link rel="icon" href="../../../../uploads/logos/favicon-256x256.png" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  <title>Iniciar Sesión - Tu Pachanga</title>
</head>
<body>

  <header>

    <p><a th:href="@{/}"><img src="../../../../uploads/logos/logo.png" alt="Logo de la web"></a></p>
    <nav>
      <ul>
        <li><a th:href="@{/login}">Iniciar sesión</a></li>
        <li><a th:href="@{/register}">Registrarse</a></li>
      </ul>
    </nav>
    
  </header>

  <div class="login-container">
    <h1>Iniciar Sesión</h1>

    <form th:action="@{/login}" method="POST">

      <div class="form-group">
        <label for="username">Correo Electrónico</label>
        <input type="email" id="username" name="username" placeholder="Introduce tu correo" required>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Introduce tu contraseña" required>
      </div>

      <button type="submit" class="btn">Iniciar Sesión</button>
      <p class="register-link">¿No tienes cuenta? <a th:href="@{/register}">Regístrate aquí</a></p>
    </form>

    <div th:if="${loginError}" style="color: red;">
      Email o contraseña incorrectos.
    </div>

  </div>
</body>
</html>