<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Tu Pachanga - Encuentra compañeros para practicar tu deporte favorito en tu ciudad o en cualquier lugar de España. Crea o únete a eventos deportivos.">
  <meta name="keywords"
        content="deporte, eventos deportivos, compañeros de deporte, fútbol, baloncesto, tenis, pádel, calistenia">
  <meta name="author" content="Daniel González">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="../../../../uploads/logos/favicon-256x256.png" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/generalStyle.css}"/>
  <link rel="stylesheet" th:href="@{/css/user-profile.css}"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <title>Tu Pachanga Web</title>
</head>
<body>

<!-- Cabecera del index con menú y titulo -->
<header>

  <p><a th:href="@{/user/personalized-index}"><img src="../../../../uploads/logos/logo.png"
                                                   alt="Logo de la web"></a></p>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" th:href="@{/user/profile}">Ver mi perfil</a>
          <a class="nav-link" th:href="@{/match/new-match}">Crear un evento</a>
          <a class="nav-link" th:href="@{/match/user-list}">Ver mis eventos</a>
          <a class="nav-link" th:href="@{/user/request}">Solicitudes</a>
          <a class="nav-link">
            <!-- Si se deja como enlace, se gerena peticion GET que no funcionaria para .logout() de Spring Security, tiene que ser POST-->
            <form th:action="@{/logout}" method="post" style="display:inline;">
              <button type="submit">Cerrar sesión</button>
            </form></a>
        </div>
      </div>
    </div>
  </nav>

</header>

<main>

  <!-- Error en actualizar perfil -->
  <div th:if="${error}" class="flash-message error">
    <span th:text="${error}"></span>
    <button onclick="this.parentElement.style.display='none'">×</button>
  </div>

  <!-- Perfil editado correctamente -->
  <div th:if="${param.success}" class="flash-message success">
    <span>Perfil actualizado correctamente</span>
    <button onclick="this.parentElement.style.display='none'">×</button>
  </div>

  <!-- Imagen de perfil y datos del usuario -->
  <div class="user-container">
    <div class="user-avatar">
      <img th:src="@{'/uploads/avatars/users/' + ${user.avatar}}" alt="Avatar de usuario"/>
    </div>
    <div class="user-data">  
      <h2 th:text="${user.firstName} + ' ' + ${user.lastName}"></h2>
      <p th:text="${user.email}"></p>
      <p th:text="'Miembro desde: ' + ${#temporals.format(user.createdAt, 'dd/MM/yyyy')}"></p>
    </div>  
  </div>

  <!-- Descripción -->
  <section>
    <h3>Descripción</h3>
    <p th:text="${user.description}"></p>
  </section>

  <!-- Municipios del usuario -->
  <section>
    <h3>Municipios donde quieres ver anuncios:</h3>
    <div class="municipalities-wrapper">
      <div th:each="municipality : ${user.municipalities}">
        <div class="municipality-icon">
          <img src="/uploads/logos/municipality-logo.png" alt="Municipio icono"/>
        </div>
        <div class="municipality-name">
          <span th:text="${municipality.name}"></span>
        </div>
      </div>
    </div>
  </section>

  <!-- Deportes que le gustan -->
  <section>
    <h3>Selección de deportes que te gustan</h3>
    <div class="sports-wrapper">
      <div th:each="sport : ${user.sports}" class="sport-card">
        <div class="sport-icon">
          <img th:src="@{'/uploads/avatars/sports/' + ${sport.icon}}" th:alt="${sport.alt}"/>
        </div>
        <div class="sport-name">
          <span th:text="${sport.name}"></span>
        </div>
      </div>
    </div>
  </section>

  <!-- Botón para editar -->
  <div>
    <button type="button" class="boton edit" onclick="document.getElementById('form-editar').style.display='block'">
      Editar mis datos
    </button>
  </div>

  <!-- Formulario oculto para editar datos personales-->
  <div class="form-container">
    <div class="editprofile-container">

      <form th:action="@{/user/update-profile}" th:object="${updateUserProfileDto}" method="post"
            id="form-editar"
            enctype="multipart/form-data" style="display: none;">

        <h3>Editar perfil</h3>

        <div class="form-group">
          <label for="firstname">Nombre:</label>
          <input type="text" id="firstname" name="firstName" th:field="*{firstName}"/>
        </div>

        <div class="form-group">
          <label for="lastName">Apellido:</label>
          <input type="text" id="lastName" name="lastName" th:field="*{lastName}"/>
        </div>

        <div class="form-group">
          <label for="telephone">Teléfono:</label>
          <input type="text" id="telephone" name="telephone" th:field="*{telephone}"/>
        </div>

        <div class="form-group">
          <label for="avatarFile">Foto de perfil:</label>
          <input type="file" id="avatarFile" name="avatarFile" accept="image/*"/>
        </div>

        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea id="description" name="description" th:field="*{description}"></textarea>
        </div>

        <div class="form-group">
          <label for="provinceSelect">Provincia:</label>
          <select id="provinceSelect" class="form-control" onchange="loadMunicipios()">
            <option value="" disabled>Selecciona una provincia</option>
            <option th:each="prov : ${provinces}"
                    th:value="${prov.id}"
                    th:text="${prov.name}"
                    th:selected="${user.municipalities[0].province.id == prov.id}">
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="municipalitySelect">Municipios:</label>
          <select id="municipalitySelect" th:field="*{municipalities}" class="form-control" multiple>
            <th:block th:if="${!user.municipalities.isEmpty()}">
              <option th:each="muni : ${user.municipalities[0].province.municipalities}"
                      th:value="${muni.id}"
                      th:text="${muni.name}"
                      th:selected="${user.municipalities.contains(muni)}">
              </option>
            </th:block>
          </select>
        </div>

        <div class="form-group">
          <label for="sportSelect">Deportes:</label>
          <select id="sportSelect" name="sports" class="form-control" multiple>
            <option value="" disabled>Selecciona uno o varias deportes</option>
            <option th:each="sport : ${sports}"
                    th:value="${sport.id}"
                    th:text="${sport.name}"
                    th:selected="${user.sports.contains(sport)}"></option>
          </select>
        </div>

        <button type="submit" class="boton">Guardar cambios</button>
        <button type="button" class="boton"
                onclick="document.getElementById('form-editar').style.display='none'">
          Cancelar
        </button>
      </form>

    </div>
  </div>

</main>

<!-- Contacto y redes sociales | Pie de página-->
<footer>

  <div id="copy">
    <p>&copy; 2023 Tu Pachanga. Todos los derechos reservados.</p>
    <p>Desarrollado por Daniel González - Desarrollador Web</p>
    <ul>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Términos y condiciones</a></li>
    </ul>
  </div>

  <div id="social-media">
    <p>Redes sociales:</p>
    <ul>
      <li><a href="#"><i class="fa-brands fa-square-facebook fa-lg"></i>&nbsp;Facebook</a></li>
      <li><a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i>&nbsp;Twitter</a></li>
      <li><a href="#"><i class="fa-brands fa-instagram fa-lg"></i>&nbsp;Instagram</a></li>
    </ul>
  </div>

  <div id="contact">
    <p>Contacto:</p>
    <ul>
      <li><a href="#"><i class="fa-solid fa-phone fa-lg"></i>&nbsp;+34 608 708 123</a></li>
      <li><a href="#"><i class="fa-regular fa-envelope fa-lg"></i>&nbsp;dani.desarrolloweb@gmail.com</a></li>
    </ul>
  </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

<script>

  function loadMunicipios() {

    var provinceSelect = document.getElementById('provinceSelect');
    var provinceId = provinceSelect.value;
    var municipalitySelect = document.getElementById('municipalitySelect');

    if (provinceId) {
      fetch('/auth/municipalities/by-province?provinceId=' + provinceId)
      .then(response => {
        if (!response.ok) {
          throw new Error('Error al cargar municipios');
        }
        return response.json();
      })
      .then(municipios => {
        // Limpiar select
        municipalitySelect.innerHTML = '';

        // Añadir opción por defecto
        var defaultOption = document.createElement('option');
        defaultOption.value = '';
        defaultOption.disabled = true;
        defaultOption.textContent = 'Selecciona uno o varios municipios';
        municipalitySelect.appendChild(defaultOption);

        // Añadir municipios
        municipios.forEach(function (municipio) {
          var option = document.createElement('option');
          option.value = municipio.id;
          option.textContent = municipio.name;
          municipalitySelect.appendChild(option);
        });

        // Habilitar select
        municipalitySelect.disabled = false;
      })
      .catch(error => {
        console.log(error)
        municipalitySelect.innerHTML = '<option value="" disabled selected>Error al cargar municipios</option>';
      });
    } else {
      municipalitySelect.innerHTML = '<option value="" disabled selected>Selecciona una provincia primero</option>';
      municipalitySelect.disabled = true;
    }
  }
</script>

</html>