<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Tu Pachanga - Encuentra compañeros para practicar tu deporte favorito en tu ciudad o en cualquier lugar de España. Crea o únete a eventos deportivos.">
  <meta name="keywords"
        content="deporte, eventos deportivos, compañeros de deporte, fútbol, baloncesto, tenis, pádel, calistenia">
  <meta name="author" content="Daniel González">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="../../../../uploads/logos/favicon-256x256.png" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/generalStyle.css}"/>
  <link rel="stylesheet" th:href="@{/css/personalized-index.css}"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{/css/new-match.css}"/>
  <link rel="stylesheet" th:href="@{/css/matches-list.css}"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Tu Pachanga Web</title>
</head>
<body>

<!-- Cabecera del index con menú y titulo -->
<header>

  <p><a th:href="@{/user/personalized-index}"><img src="../../../../uploads/logos/logo.png"
                                                   alt="Logo de la web"></a></p>
  <nav>
    <ul>
      <li><a th:href="@{/user/profile}">Ver mi perfil</a></li>
      <li><a th:href="@{/match/new-match}">Crear un evento</a></li>
      <li><a th:href="@{/match/user-list}">Ver mis eventos</a></li>
      <li>
        <!-- Si se deja como enlace, se gerena peticion GET que no funcionaria para .logout() de Spring Security, tiene que ser POST-->
        <form th:action="@{/logout}" method="post" style="display:inline;">
          <button type="submit">Cerrar sesión</button>
        </form>
      </li>
    </ul>
  </nav>

</header>

<main>

  <!-- Operacion fallida -->
  <div th:if="${error}" class="flash-message error">
    <span th:text="${error}"></span>
    <button onclick="this.parentElement.style.display='none'">×</button>
  </div>

  <!-- Operación exitosa -->
  <div th:if="${success}" class="flash-message success">
    <span th:text="${success}"></span>
    <button onclick="this.parentElement.style.display='none'">×</button>
  </div>

  <!-- Eventos disponibles en los municipios de interes del usuario -->
  <section id="sports-events">
    <h2>Aquí puedes encontrar la información de todos los partidos que has creado</h2>
    <p>Si alguno no ha acabado y quieres modificarlo, ¡estas a tiempo!</p>
    <div>
      <div th:each="match : ${matches}" class="event-card">
        <div class="event-header">
          <div class="sport-icon">
            <img th:src="@{'/uploads/avatars/sports/' + ${match.sport.icon}}"
                 th:alt="${match.sport.alt}"/>
          </div>
          <div class="event-meta">
            <img th:src="@{'/uploads/avatars/users/' + ${match.owner.avatar}}"
                 alt="Avatar de usuario">
            <p>Creado por: <a th:href="@{/user/{uuid}(uuid = ${match.owner.uuid})}">
              <span th:text="${match.owner.firstName} + ' ' + ${match.owner.lastName}"></span></a>
            </p>
          </div>
          <div class="event-date">
            <p th:text="${#temporals.format(match.eventDate, 'dd/MM/yyyy HH:mm')}"></p>
          </div>
        </div>
        <hr>
        <div class="event-body">
          <p><strong>Nombre del evento:</strong> <span th:text="${match.title}"></span></p>
          <p><strong>Descripción:</strong> <span th:text="${match.description}"></span></p>
          <p><strong>Ubicación:</strong> <span
              th:text="${match.facility.street} + ', ' + ${match.facility.municipality.name}"></span>
          </p>
          <p><strong>Nivel:</strong> <span th:text="${match.skillLevel.name()}"></span></p>
          <p><strong>Plazas disponibles:</strong> <span
              th:text="${match.availableParticipants}"></span> | <strong>Precio por
            persona:</strong> <span th:text="${match.pricePerPerson}"></span></p>

          <!-- si la fecha es anterior a la de finalización, se activa un botón para editar datos -->
          <div th:if="${#temporals.createNow().isBefore(match.endDate)}">
            <button type="button" class="edit-btn" th:onclick="'openEditModal(' + ${match.id} + ')'">
              Editar
            </button>
            <button type="button" class="delete-btn" th:onclick="'openDeleteModal(' + ${match.id} + ')'" style="background-color: #ff0000">
              Eliminar
            </button>
          </div>

          <!-- Ventana modal para editar datos del partido -->
          <div th:id="'editModal-' + ${match.id}" class="modal" style="display:none;">
            <div class="modal-content">
              <span class="close" th:onclick="'closeModal(\'editModal-' + ${match.id} + '\')'">&times;</span>
              <h3>Editar Evento</h3>
              <form th:action="@{/match/update}" method="post" th:object="${matchUpdateDto}">
                <input type="hidden" name="id" th:value="${match.id}"/>

                <div class="form-group">
                  <label for="title">Título:</label>
                  <input type="text" id="title" name="title" th:value="${match.title}" required>
                </div>

                <div class="form-group">
                  <label for="description">Descripción:</label>
                  <textarea id="description" name="description" required th:text="${match.description}"></textarea>
                </div>

                <div class="form-group">
                  <label for="eventDate">Fecha del evento:</label>
                  <input type="datetime-local" id="eventDate" name="eventDate"
                         th:value="${#temporals.format(match.eventDate, 'yyyy-MM-dd''T''HH:mm')}" required>
                </div>

                <div class="form-group">
                  <label for="endDate">Fecha de finalización:</label>
                  <input type="datetime-local" id="endDate" name="endDate"
                         th:value="${#temporals.format(match.endDate, 'yyyy-MM-dd''T''HH:mm')}" required>
                </div>

                <div class="form-group">
                  <label for="pricePerPerson">Precio por persona:</label>
                  <input type="number" id="pricePerPerson" name="pricePerPerson"
                         th:value="${match.pricePerPerson}" min="0" step="0.01" required>
                </div>

                <div class="form-group">
                  <label for="maxParticipants">Máximo de participantes:</label>
                  <input type="number" id="maxParticipants" name="maxParticipants" th:value="${match.maxParticipants}" min="0"/>
                </div>

                <div class="form-group">
                  <label>Dificultad:</label>
                  <div class="radio-group" th:each="skill : ${skillLevel}">
                    <input type="radio"
                           th:id="${'skillLevel_' + match.id + '_' + skill}"
                           name="skillLevel"
                           th:value="${skill}"
                           th:checked="${skill == match.skillLevel}"/>
                    <label th:for="${'skillLevel_' + match.id + '_' + skill}" th:text="${skill}"></label>
                  </div>
                </div>

                <button type="submit">Guardar Cambios</button>
              </form>
            </div>
          </div>

          <!-- Modal para confirmar eliminación del evento -->
          <div th:id="'deleteModal-' + ${match.id}" class="modal" style="display:none;">
            <div class="modal-content">
              <span class="close" th:onclick="'closeModal(\'deleteModal-' + ${match.id} + '\')'">&times;</span>
              <h3>¿Estás seguro de que deseas eliminar este evento?</h3>
              <p>Esta acción no se puede deshacer.</p>
              <form th:action="@{/match/delete}" method="post">
                <input type="hidden" name="id" th:value="${match.id}" />
                <button type="submit" class="confirm-delete" style="background-color: #ff0000">Sí, eliminar</button>
                <button type="button" class="cancel-delete" th:onclick="'closeModal(\'deleteModal-' + ${match.id} + '\')'">Cancelar</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>

<!-- Contacto y redes sociales | Pie de página-->
<footer>

  <div id="copy">
    <p>&copy; 2023 Tu Pachanga. Todos los derechos reservados.</p>
    <p>Desarrollado por Daniel González - Desarrollador Web</p>
    <ul>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Términos y condiciones</a></li>
    </ul>
  </div>

  <div id="social-media">
    <p>Redes sociales:</p>
    <ul>
      <li><a href="#"><i class="fa-brands fa-square-facebook fa-lg"></i>&nbsp;Facebook</a></li>
      <li><a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i>&nbsp;Twitter</a></li>
      <li><a href="#"><i class="fa-brands fa-instagram fa-lg"></i>&nbsp;Instagram</a></li>
    </ul>
  </div>

  <div id="contact">
    <p>Contacto:</p>
    <ul>
      <li><a href="#"><i class="fa-solid fa-phone fa-lg"></i>&nbsp;+34 608 708 123</a></li>
      <li><a href="#"><i class="fa-regular fa-envelope fa-lg"></i>&nbsp;dani.desarrolloweb@gmail.com</a></li>
    </ul>
  </div>

</footer>
</body>

<script>
  // Función para abrir el modal de edición
  function openEditModal(matchId) {
    document.getElementById("editModal-" + matchId).style.display = "block";
  }

  // Función para abrir el modal de eliminar
  function openDeleteModal(matchId) {
    document.getElementById("deleteModal-" + matchId).style.display = "block";
  }

  // Función para cerrar modales
  function closeModal(modalId) {
    document.getElementById(modalId).style.display = "none";
  }
</script>

</html>